  <steps>
    <step callback-url="http://{service_domain}/steps/date"
          name="date"
          display-name="Date"
          icon="medicalkit"
          type="callback">

      <settings>
        <variable name="unit" display-name="Unit" type="date_type"/>
        <variable name="value" display-name="Value" type="numeric"/>
      </settings>

      <response type="variables">
        <variable name="result" display-name="Result" type="string"/>
      </response>

    </step>
  </steps>