<?xml version="1.0" encoding="UTF-8" ?>

<verboice-service>
  <name>External Service</name>

  <global-settings>
    <variable name="service_domain" display-name="Service Domain" type="string"/>
  </global-settings>

  <% @steps.each do |step| %>
    <%= render "steps/config/#{step}" %>
  <% end %>

</verboice-service>